// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
select {
  font: inherit;
  color: inherit;
}

form {
  display: flex;
  flex-direction: column;
}

// stacks
.vstack {
  display: flex;
  flex-direction: column;
}

.hstack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// gaps
@each $gap in 0 1 2 3 4 5 6 7 8 9 10 {
  .gap-#{$gap} {
    gap: #{$gap}rem;
  }
}

// flex helpers
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

:root {
  --black: rgb(41, 42, 47);
  --white: rgb(255, 255, 255);
  --black-overlay: rgba(0, 0, 0, 0.2);
}

// body
body {
  background-color: var(--black);
  color: var(--white);
}

// inputs
select {
  height: 4rem;
  padding: 0 1rem;
  border-radius: 1rem;
  font-size: 120%;
  border: 0;
  background-color: var(--black-overlay);
}
